
.coming-soon-site a{
    margin-left:10px;
}

@media screen and (max-width: 48em) {
   .coming-soon-site a{
    margin: 5px;
    width: calc(100% / 3.5);
    text-wrap: wrap;
} 
.coming-soon-site{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}
}



.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    cursor: pointer;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip.active .tooltiptext {
    visibility: visible;
  }