.css-e30wp2{
margin-top: 50px;
}

.tooltip2 {
    position: relative;
    display: inline-block;
    background-color: #11202e !important;
 }
 .tooltip2 .tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -70px;
 } 
 .tooltip2 .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 7px;
    border-style: solid;
    border-color: black transparent transparent transparent;
 }
 .tooltip2:hover .tooltiptext {
    visibility: visible;
 }


.coming-soon-site .tooltip2{
    margin-left:10px;
    border-radius: 10px;
    background-color: #727070;
    box-shadow: -8px 5px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: -8px 5px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -8px 5px 5px 0px rgba(0,0,0,0.75);    
}
   .css-1r0eoou .cc{
      box-shadow: -8px 5px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: -8px 5px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -8px 5px 5px 0px rgba(0,0,0,0.75); 
   }
   .css-1bktcyh{
      margin-bottom: 0;
   }
 .css-1rjdyjt{
   margin-top: -5px;
 }

   .contractTitle{
      margin-bottom: 0px;
   }
   .picklechart{
      margin-bottom: 1px;
   }

   .Pickle-wif-Hat{
      margin-left: -3px;
   }
   .dropdown-item.active{
      background: #334c7150;
   }
/* 
   ul.dropdown-menu-dark{
      background: #0b2640;
   } */
   
   ul.dropdown-menu-dark{
      background: #0b264059;
   }

  
@media screen and (min-width: 48em) {
    .inj{
      width:  30px;
      height: 30px;
  }
  #react-select-select-chain-placeholder{
   display: flex;
  }
  #react-select-select-chain-placeholder span{
   margin-left: -35px;
  }
}


/* ===============================for mobile====================================== */


@media screen and (max-width: 48em) {

   .inj{
      width:  33px;
      height: 33px;
  }
  .inj-active{
   display: none;
  }
   .coming-soon-site .tooltip2{
    margin: 5px;
    text-wrap: wrap;
} 
.Pickle-wif-Hat{
   font-size: 1.5em;
}
.coming-soon-site{
    display: flex;
    flex-direction: row;
}

   .css-xi606m{
      margin-top: 15px;
      /* text-align: left; */
      
   }

   .coming-soon-site .tooltip2{
      box-shadow: -4px 5px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: -4px 5px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -4px 5px 5px 0px rgba(0,0,0,0.75);  
  }
     .css-1r0eoou .cc{
      box-shadow: -4px 5px 5px 0px rgba(0,0,0,0.75);
      -webkit-box-shadow: -4px 5px 5px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: -4px 5px 5px 0px rgba(0,0,0,0.75);
     }

}



/* ======================================================= */

.css-1r0eoou a{
    background-color: #11202e !important;
}
 .css-1r0eoou a:hover{
   text-decoration: none;
   
}



