a[title] {
    position: relative;
  }
  
  a[title]:after {
    content: attr(title);
    display: inline-block;
    padding: 0.2em 0.6em; 
    white-space: nowrap; 
    background-color: #555;
    color: #fff;
    font-style: normal;
    font-family: sans-serif;
    font-size: 0.8em;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -1em);
    z-index: 1;
  }